.links {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: solid white;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 12px;
       font-size: 15px;
}

/* Instagram */
.links-instagram {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: solid white;
       border-width: 0.5px;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
}

.links-instagram:hover {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       background: #833ab4;
       background: -webkit-linear-gradient(to right, #fcb045, #fcb045);
       background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
       color: white;
       
}
/* Instagram */

/* Facebook */
.links-facebook {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: solid white;
       border-width: 0.5px;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
}

.links-facebook:hover {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       background: #00F;
       background: -webkit-linear-gradient(to rright, #00F, #00F);
       background: linear-gradient(to right, #00F, #00F);
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
       color: white;
       
}
/* Facebook */

/* Twiter */
.links-twitter{
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: solid white;
       border-width: 0.5px;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
}

.links-twitter:hover {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       background: #00acee
       background: -webkit-linear-gradient(to right, #00acee, #00acee);
       background: linear-gradient(to right, #00acee, #00acee);
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
       color: white;
       
}
/* Twiter */


/* Pinterest*/
.links-pinterest{
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: solid white;
       border-width: 0.5px;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
}

.links-pinterest:hover {
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       background: #FFF;
       background: -webkit-linear-gradient(to right, red, red);
       background: linear-gradient(to right, red, red);
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 8px;
       font-size: 15px;
       color: white;
       
}
/* Pinterest */






